.wrap-form {
	background-image: url("../../../assets/AuthenImg/login-bk.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-group input {
	outline: 0;
	border-width: 0 0 2px;
	border-radius: 0;
}
.login-form {
	background-color: white;
	border-radius: 6px;
	box-shadow: 0 2px 38px 0 rgba(45, 49, 63, 0.4);
	display: flex;
	padding: 40px;
	max-width: 680px;
	width: calc(100% - 20px);
	min-height: 300px;	
}
.login-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex: 1;
}

.invalid-feedback {
	color: red;
}

.form-control:focus {
	border-color: blue;
	-webkit-box-shadow: none;
	box-shadow: none;
}

// Override
.alert {

	margin-bottom: 12px;
    height: 40px;
    line-height: 30px;
    padding: 0px 15px;
}
span,
a {
  font-family: Roboto-Regular;
  font-size: 16px;
  letter-spacing: 0;
  margin-left: 5px;
}

a {
  color: #1B47DB;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

form {
	display: flex;
	flex-direction: column;
}

img {
	margin: 20px;
}

.input-form{
	display: flex;
  }
 
  
  i {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .invalid-feedback {
	  display: flex;
  }