<app-header></app-header>
<div class="content-app">
   <div class="contact-list">
      <app-conversation-list></app-conversation-list>
   </div>
   <div class="view">
      <div class="view">
         <!-----------======================= HEADER CONTENT ==========================    ----------->
         <app-conversation-header></app-conversation-header>
         <!-----------=======================  END HEADER CONTENT ==========================    ----------->
         <div class="messeage">
            <!-----------=======================   THONG TIN MESSEAGE ==========================    ----------->
            <app-conversation-about></app-conversation-about>
              <!-----------=======================   THONG TIN MESSEAGE ==========================    ----------->
            <app-conversation-detail></app-conversation-detail>
         </div>
      </div>
   </div>
</div>