<div class="nav">
   <div class="nav-left">
      <div><img src="../../../assets/ICON/IconAppChat/20.svg" alt="more-app-icon"></div>
      <div><img src="../../../assets/ICON/IconAppChat/18.svg" alt="message-icon"></div>
      <div>
         <p style="margin-top: 17px;">Nhắn tin</p>
      </div>
   </div>

   <div class="ml-auto nav-right">
      <div class="dropdown">
         <ngx-avatar [name]="userShareService.userName" size="34" alt="message-icon" data-toggle="dropdown"></ngx-avatar>
         <ul class="dropdown-menu">
            <li><a (click)="logout()">Logout</a></li>
         </ul>
      </div>
   </div>
</div>