/*=============================================== HEADER MESSEAGE========================== */
.header-content {
	align-items: center;
    border-bottom: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .10);
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding-left: 16px;
}
 .header-content .head-left {
    align-items: center;
    display: flex;
    font-size: 14px;
    padding: 0;
}
 .header-content .head-left .avatar {
	display: flex;
    justify-content: center;
    margin-left: 2px;
    margin-right: 12px;
}
 .header-content .head-left .avatar img {
	height: 40px;
    width: 40px;
	border-radius: 50%;
}
 .header-content .head-left .info{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 32px;
    justify-content: center;
}
 .header-content .head-left .info .info-username {
    display: block;
    white-space: nowrap;
	font-size: 15px;
    font-weight: bold;
    position: relative; 
    left: 1px; 
    top: 6px;
}
 .header-content .head-left .info .info-active {
	color: rgba(0, 0, 0, .40);
	font-size: 12px;
	font-weight: normal;
	margin: 2px 0px 10px;
    vertical-align: middle;
    line-height: 17.1492px;
    position: relative; 
    left: 1px; 
    top: -4px;
    
}

 .header-content .head-right ul{
	align-items: center;
    bottom: 0;
    display: flex;
    padding: 9px 0 9px 8px;
    position: initial;
    right: 0;
	top: 0;
}
 .header-content .head-right ul li{
	display: inline-block;
    margin-right: 12px;
	padding: 0;
}
 .header-content .head-right ul li a{	
	display: inline-block;
    height: 32px;
    outline: none;
    padding: 0;
	width: 32px;
}
/*=============================================== END HEADER MESSEAGE========================== */
.messeage {
    display: flex;
    flex: 1 1 0%;
    flex-direction: row-reverse;
}
.messeage .info-messeage {
    border-left: 1px solid rgba(0, 0, 0, .10);
    flex: 0 2 33.33%;
    max-width: 420px;
    min-width: 200px;
    overflow-y: auto;
    background-color: #f8f8f8;
}
.messeage .info-messeage .i {
    direction: ltr;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.messeage .info-messeage .info-content {
    margin-right: -12px;
    direction: ltr;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 14px;
}
.messeage .info-messeage .info-content .info-image {
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 0 14px 16px 14px;
    word-break: break-word;
}
.messeage .info-messeage .info-content .info-image .image{
    position: relative;
 }
 .messeage .info-messeage .info-content .info-image .image img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
 }
.content-app {
    display: flex;
}
.content-messeage {
    flex: 2 0 0%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 120px);
	width: 100%;
 }
.view {
    display: flex;
    flex: 3;
    flex-direction: column;
    min-width: 0;
}


// .contact-list {
//     min-width: 300px;
// 	flex: 0 0 25%;
//     max-width: 420px;
// }
// @media screen and (max-width: 1000px) { 
//     .contact-list {
//         min-width: 75px;
//         flex: 0 0 25%;
//         max-width: 55px;
//     }
// }