* {
	margin: 0;
	padding: 0;
	border: none;
}

html,
body {
	font-family: 'Roboto';
	height: 100vh;
	width: 100%;
	margin: 0;
	display: block;
	position: absolute;
	overflow-y: hidden;
	overflow-x: hidden;
	min-width: 790px;
}
@import "~angular-notifier/styles";